#dob {
    color: white;
    background-color: #464646;
}

.container {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

.profilePicture {
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    padding-bottom: 20px;
}

.hidden {
    display: none;
}
