.wbdv-property {
    height: 100%;
    width: 100%;
}

.property-top-bar {
    position: absolute;
    top: 0px;
    left: 10px;
    height: 150px;
    right: 10px;
    overflow: hidden;
}

.wbdv-properties-heading {
    color: white;
}

.property-body {
    top: 150px;
    bottom: 150px;
    left: 0px;
    right: 0px;
    overflow: auto;
    color: white;
}

.paginated-btn-set {
    margin-left: 40%;
    background-color: black;
    color: white;
}
